---
layout: default
---

<h1 class="page-heading">About</h1>
<div class="home">
  <p>
    The Semantic Lab @ Pratt is led by Cristina Pattuelli, Associate Professor and Coordinator of the Museums in Digital Culture MS program along with Matt Miller, Visiting Professor. The lab serves as a testbed and an incubator for the development of novel methodologies for the application of semantic technologies to libraries, archives and museums. A leader in the application of Linked Open Data for cultural heritage, the lab serves as a resource for faculty, students and practitioners interested in gaining new skills and competencies and testing new and innovative applications. We collaborate with other academic units within Pratt Institute, other educational institutions, and cultural organizations.
  </p>

</div>
