---
layout: default
---

<h1 class="page-heading">About</h1>
<div class="home">
  <p>
    The Semantic Lab at Pratt serves as a testbed and an incubator for the development of novel methodologies and tools for the application of semantic technologies to libraries, archives and museums. A leader in linked open data for cultural heritage, the lab is a resource for researchers, students and practitioners interested in gaining new competencies and a place for experimenting with innovative information technologies. We collaborate with other educational and research institutions and cultural organizations.
  </p> 
  <p>
	The Semantic Lab is led by M. Cristina Pattuelli, Professor and Coordinator of the Museums in Digital Culture MS program along with Matt Miller, Adjunct Professor and former Head of Semantic Applications and Data Research at the New York Public Library. 
  </p>

</div>
